/* colors for VOA blogs */

$voablue:   #1330bf;
$voared:    #d41010;
$voagray:   #919191;

$offwhite:  #fcfcfc;
$dkwhite:   #f6f6f6;

$bodybg:    #eee;

$ultgray:   #e6e6e6;
$vltgray:   #ddd;
$mltgray:	#ccc;
$ltgray:    #999;
$midgray:   #666;

$vdkgray:   #333;
$offblack:  #111;

$highlight: #7fdbff;

// social media colors
$facebook_color:   #3b5998;
$googleplus_color: #db4437;
$instagram_color:  #000000;
$linkedin_color:   #0077b5;
$pinterest_color:  #bd081c;
$reddit_color:     #ff4500;
$soundcloud_color: #f84f0f;
$twitter_color:    #55acee;
$youtube_color:    #cd201f;
