/* colors for VOA blogs */

$voablue:   #1330bf;
$voared:    #d41010;
$voagray:   #919191;

$offwhite:  #fcfcfc;

$bodybg:    #eee;

$vltgray:   #ddd;
$ltgray:    #999;
$midgray:   #666;

$offblack:  #333;

$highlight: #7fdbff;
