// _home-cards.scss

.card-row {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.story-card {
	flex-grow: 1;
	height: 100%;
	min-height: 360px;
	//max-height: 80vh;
	margin: 0 0 16px 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.story-card > a {
	background-color: $ultgray;
	background-repeat: no-repeat;
	color: $offblack;
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	@include transition( all .5s ease );
	width: 100%;
}

.story-card > a:hover {
	background-color: $dkwhite;
}

/*
.story-card > a > .bg-container {
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
*/

.story-card > a > .text {
	text-align: left;
	max-width: calc(100% - 28px - 2rem); // leave room for video icon
}

.story-card > a h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.35;
	margin: 0 0 1rem 0;
	padding: 0;
	text-decoration: none;
	@include transition( all .5s ease );
}

.story-card > a:hover h2 { }

.story-card > a p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.35;
	margin: 0 0 1rem 0;
	padding: 0;
}

.story-card > a:hover p { }

.story-card > a p.continue {
	@include transition( all .5s ease );
}

.video-icon {
	background: $voablue;
	border-color: $bodybg;
	border-style: solid;
	border-width: 0 0 2px 2px;
	color: $offwhite;
	font-size: 1rem;
	line-height: 1;
	padding: 12px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.category {
	position: absolute;
	bottom: .75rem;
	right: 0;
	background: $voared;
	border-color: $bodybg;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	color: $offwhite;
	font-size: .8rem;
	line-height: 1;
	margin: 0;
	padding: .5rem 1rem .5rem .75rem;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
	//height: .5rem;
}



.card-noimg {
	a {
		background-image: none !important;
		
		.text { margin: .5rem; }
		
		h2 { 
			color: $offblack;
		}
		
		p.continue {
			background-color: $mltgray;
			border-radius: .25em;
			color: $midgray;
			display: inline-block;
			font-size: .9rem;
			letter-spacing: .015em;
			padding: .5em;
		}
	}
	
	a:hover {
		h2 { color: $voablue; }
		
		p.continue {
			background-color: $voablue;
			color: $offwhite;
		}
	}
}



.card-txt {
	a {
		background-position: center top;
		background-size: 100% auto;
		
		.text {
			background-color: $ultgray;
			max-width: 100%;
			padding: .5rem;
			position: relative;
			top: 40%;
			@include transition( all .5s ease );
		}
	}
	
	a:hover {
		.text {
			background-color: $dkwhite;
		}
	}
}



.card-img {
	a {
		background-position: 50% 50%;
		background-size: cover;
		
		.text {
			margin-left: .5rem;
		}
		
		h2 {
			background-color: $offblack;
			box-decoration-break: clone;
			@include box-shadow( .5rem 0 0 $offblack, -.5rem 0 0 $offblack );
			color: $offwhite;
			display: inline;
			padding: .25rem 0;
		}
		
		.clearfix:after {
			height: 1rem;
		}
		
		p.teaser {
			display: none;
			@include transition( all .5s ease );
		}
		
		p.continue {
			background-color: $bodybg;
			box-decoration-break: clone;
			@include box-shadow( .5rem 0 0 $bodybg, -.5rem 0 0 $bodybg );
			color: $midgray;
			display: inline;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.2;
			padding: .25em 0;
			text-decoration: none;
		}
	}
	
	a:hover {
		h2 {
			background-color: $voablue;
			@include box-shadow( .5rem 0 0 $voablue, -.5rem 0 0 $voablue );
		}
		
		p.continue {
			color: $voablue;
		}
	}
}





@media (min-width: 450px) {

	.card-row {
		flex-direction: row;
		justify-content: space-between;
	}

	.card-row-3,
	.card-row-4 {
		flex-wrap: wrap;
	}
	
	.story-card {
		flex-basis: 0;
		height: 360px;
	}

	.story-card.card-half {
		flex-basis: 50%;
	}

	.story-card.card-quarter {
		flex-basis: 50%;
	}

	.card-row-3 > .story-card.card-half {
		flex-basis: 100%;
	}

	.story-card > a {
		margin-left: 8px;
		margin-right: 8px;
		width: calc(100% - 16px);
	}
	
	.card-img.card-full a p.teaser,
	.card-img.card-half a p.teaser {
		background-color: transparent;
		box-decoration-break: clone;
		@include box-shadow( .5rem 0 0 transparent, -.5rem 0 0 transparent );
		color: transparent;
		display: inline;
		line-height: 1.2;
		padding: .2rem 0;
	}
	
	.card-img.card-full a:hover p.teaser,
	.card-img.card-half a:hover p.teaser {
		background-color: $offblack;
		@include box-shadow( .5rem 0 0 $offblack, -.5rem 0 0 $offblack );
		color: $offwhite;
	}

}





@media (min-width: 600px) { }





@media (min-width: 750px) {
	
	.story-card {
		height: 450px;
	}

	.card-row-3 > .story-card.card-half {
		flex-basis: 50%;
	}

	.story-card.card-quarter {
		flex-basis: 25%;
	}

}





@media (min-width: 960px) {

	.card-row {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.story-card {
		flex-basis: 0;
		height: 576px;
		margin-bottom: 24px;
	}

	.story-card > a {
		margin-left: 12px;
		margin-right: 12px;
		width: calc(100% - 24px);
	}
	
	.card-img.card-quarter a p.teaser {
		background-color: transparent;
		box-decoration-break: clone;
		@include box-shadow( .5rem 0 0 transparent, -.5rem 0 0 transparent );
		color: transparent;
		display: inline;
		line-height: 1.2;
		padding: .2rem 0;
	}
	
	.card-img.card-quarter a:hover p.teaser {
		background-color: $offblack;
		@include box-shadow( .5rem 0 0 $offblack, -.5rem 0 0 $offblack );
		color: $offwhite;
	}

}





@media (min-width: 1200px) { }
