//  css/_story-card.scss styles partials/story-card.php



.card-row {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.story-card {
	display: block;
	flex-grow: 1;
	height: 100%;
	//min-height: 360px;
	margin: 0 0 16px 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.story-card > a {
	background-color: $ultgray;
	color: $offblack;
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	@include transition( all .5s ease );
	width: 100%;
}

.story-card > a:hover {
	background-color: $dkwhite;
}

.story-card > a > .bg-container {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.story-card > a > .text {
	max-width: calc(100% - 28px - 2rem); // leave room for video icon
	position: relative;
	text-align: left;
	z-index: 5;
}

.story-card > a h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.35;
	margin: 0 0 1rem 0;
	padding: 0;
	text-decoration: none;
	@include transition( all .5s ease );
}

.story-card > a:hover h2 { }

.story-card > a p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.35;
	margin: 0 0 1rem 0;
	padding: 0;
}

.story-card > a:hover p { }

.story-card > a p.continue {
	@include transition( all .5s ease );
}

.video-icon {
	background: $voablue;
	border-color: $bodybg;
	border-style: solid;
	border-width: 0 0 2px 2px;
	color: $offwhite;
	font-size: 1rem;
	line-height: 1;
	padding: 12px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.category {
	position: absolute;
	bottom: .75rem;
	right: 0;
	background: $voared;
	border-color: $bodybg;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	color: $offwhite;
	font-size: .8rem;
	line-height: 1;
	margin: 0;
	padding: .5rem 1rem .5rem .75rem;
	z-index: 10;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
	//height: .5rem;
}



.card-noimg {
	a {
		.text { margin: .5rem; }
		
		h2 { 
			color: $offblack;
		}
		
		p.continue {
			background-color: $mltgray;
			border-radius: .25em;
			color: $midgray;
			display: inline-block;
			font-size: .9rem;
			letter-spacing: .015em;
			padding: .5em;
		}
		
		.bg-container {
			background-image: none !important;
		}
	}
	
	a:hover {
		h2 { color: $voablue; }
		
		p.continue {
			background-color: $voablue;
			color: $offwhite;
		}
	}
}



.card-txt {
	a {
		//padding-top: 40%;
		
		.text {
			background-color: $ultgray;
			max-width: 100%;
			//margin-top: 40%;
			padding: .5rem;
			//top: 40%;
			@include transition( all .5s ease );
		}
		
		h2 { 
			color: $offblack;
		}
		
		p.continue {
			background-color: $mltgray;
			border-radius: .25em;
			color: $midgray;
			display: inline-block;
			font-size: .9rem;
			letter-spacing: .015em;
			padding: .5em;
		}
		
		.category {
			//position: absolute;
			top: calc(150px - 2.5rem - 4px);
			bottom: auto;
			right: 0;
			//background: $voared;
			//border-color: $bodybg;
			//border-style: solid;
			border-width: 2px 0 2px 2px;
			//color: $offwhite;
			//font-size: .8rem;
			//line-height: 1;
			//margin: 0;
			padding: .5rem 1rem .5rem .75rem;
			//z-index: 10;
		}
		
		.bg-container {
			background-position: center top;
			//max-height: 150px;
			//height: 100%;
			
			position: relative;
			display: block;
			top: 0;
			right: 0;
			bottom: auto;
			left: 0;
			height: 150px;
		}
		
		// .category, .video-icon { display: none !important; }
	}
	
	a:hover {
		.bg-container {
			// default if image fails to load
			background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
		}
		
		.text {
			background-color: $dkwhite;
		}
		
		h2 { color: $voablue; }
		
		p.continue {
			background-color: $voablue;
			color: $offwhite;
		}
	}
}



.card-img {
	a {
		min-height: 360px;
		
		.text {
			margin-left: .5rem;
			padding-top: .2rem;
		}
		
		h2 {
			background-color: $offblack;
			box-decoration-break: clone;
			@include box-shadow( .5rem 0 0 $offblack, -.5rem 0 0 $offblack );
			color: $offwhite;
			display: inline;
			padding: .25rem 0;
		}
		
		.clearfix:after {
			height: 1rem;
		}
		
		p.teaser {
			display: none;
			@include transition( all .5s ease );
		}
		
		p.continue {
			background-color: transparent;
			box-decoration-break: clone;
			@include box-shadow( .5rem 0 0 transparent, -.5rem 0 0 transparent );
			color: transparent;
			display: inline;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.2;
			padding: .25em 0;
		}
	}
	
	a:hover {
		.bg-container {
			// default if image fails to load
			background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
		}
		
		h2 {
			background-color: $voablue;
			@include box-shadow( .5rem 0 0 $voablue, -.5rem 0 0 $voablue );
		}
		
		p.continue {
			background-color: $bodybg;
			@include box-shadow( .5rem 0 0 $bodybg, -.5rem 0 0 $bodybg );
			color: $voablue;
		}
	}
}





@media (min-width: 450px) {

	.card-row {
		flex-direction: row;
		justify-content: space-between;
	}

	.card-row-3,
	.card-row-4 {
		flex-wrap: wrap;
	}
	
	.story-card {
		flex-basis: 0;
		height: 450px;
		overflow: hidden;
	}
	
	.card-row-2.card-row-short > .story-card {
		height: auto;
	}
	
	.card-row-2.card-row-short > .card-img > a {
		min-height: auto;
	}

	.story-card.card-half {
		flex-basis: 50%;
	}

	.story-card.card-quarter {
		flex-basis: 50%;
	}

	.card-row-3 > .story-card.card-half {
		flex-basis: 100%;
	}

	.story-card > a {
		height: 100%;
		margin-left: 8px;
		margin-right: 8px;
		width: calc(100% - 16px);
	}
	
	.card-img.card-full a p.teaser,
	.card-img.card-half a p.teaser {
		background-color: transparent;
		box-decoration-break: clone;
		@include box-shadow( .5rem 0 0 transparent, -.5rem 0 0 transparent );
		color: transparent;
		display: inline;
		line-height: 1.2;
		padding: .2rem 0;
	}
	
	.card-img.card-full a:hover p.teaser,
	.card-img.card-half a:hover p.teaser {
		background-color: $offblack;
		@include box-shadow( .5rem 0 0 $offblack, -.5rem 0 0 $offblack );
		color: $offwhite;
	}
	
	.card-txt.card-half,
	.card-txt.card-quarter {
		a {
			h2 { font-size: 1rem; margin-bottom: .5rem; }
			p.teaser { font-size: .9rem; }
		}
	}

}





@media (min-width: 600px) {
	.card-full.card-txt {
		a {
			.text {
				left: 50%;
				max-width: calc(50% - 8px);
				padding-top: 0;
				top: 0%;
			}
			
			.bg-container {
				background-position: left top;
				max-height: 100%;
				max-width: calc(50% - 8px);
			}
		}
	}
}





@media (min-width: 750px) {
	
	.story-card {
	// 	height: 450px;
	}

	.card-row-3 > .story-card.card-half {
		flex-basis: 50%;
	}

	.story-card.card-quarter {
		flex-basis: 25%;
	}

}





@media (min-width: 960px) {

	.card-row {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.story-card {
		flex-basis: 0;
		height: 576px;
		margin-bottom: 24px;
	}

	.story-card > a {
		margin-left: 12px;
		margin-right: 12px;
		width: calc(100% - 24px);
	}
	
	.card-img.card-quarter a p.teaser {
		background-color: transparent;
		box-decoration-break: clone;
		@include box-shadow( .5rem 0 0 transparent, -.5rem 0 0 transparent );
		color: transparent;
		display: inline;
		line-height: 1.2;
		padding: .2rem 0;
	}
	
	.card-img.card-quarter a:hover p.teaser {
		background-color: $offblack;
		@include box-shadow( .5rem 0 0 $offblack, -.5rem 0 0 $offblack );
		color: $offwhite;
	}
	
	.card-txt {
		a {
			.category {
				top: calc(207px - 2.5rem - 4px);
			}
			
			.bg-container {
				height: 207px;
			}
		}
	}
	
	.card-row-short > .card-half.card-txt {
		a {
			.text {
				margin-left: 50%;
				max-width: 50%;
				padding-left: 12px;
			}
			
			.category,
			.video-icon {
				right: calc(50% + 12px);
			}
			
			.bg-container {
				position: absolute;
				top: 0;
				left: 0;
				width: calc(50% - 12px);
			}
		}
	}
	
	.card-full.card-txt {
		a {
			.text {
				max-width: calc(50% - 12px);
			}
			
			.bg-container {
				max-width: calc(50% - 12px);
			}
		}
	}

}





@media (min-width: 1200px) { }
